*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font: 400 14px "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 30px;
  color: #727272;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.2;
  overflow-x: hidden; }

.display-block {
  display: block; }

.lowercase {
  text-transform: lowercase; }

.hidex {
  opacity: 0;
  visibility: hidden;
  z-index: -1; }

a {
  transition: all 0.3s; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }
  a[href^="tel:"] {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]) {
    color: #fff;
    cursor: pointer; }

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  margin-top: 0;
  margin-bottom: 0; }

h1 {
  font-size: 5rem;
  line-height: 6rem; }

h2 {
  font-size: 2.2rem;
  line-height: 2.6rem; }

h3 {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 500; }

h4 {
  font-size: 1.6rem;
  line-height: 2.4rem; }

h5 {
  font-size: 1.5rem;
  line-height: 3.2rem; }

h6 {
  font-size: 1.4rem;
  line-height: 3.2rem;
  font-weight: 500; }

p {
  margin: 0;
  margin-bottom: 30px; }

ul {
  list-style: none;
  padding-left: 0; }

strong,
small {
  color: #333; }

/* form control */
.form-control {
  box-shadow: none;
  border-radius: 0; }

.form-control:focus {
  box-shadow: none; }

.opacity9 {
  opacity: 0.9; }

.opacity7 {
  opacity: 0.7; }

.opacity5 {
  opacity: 0.5; }

.opacity3 {
  opacity: 0.3; }

.opacity2 {
  opacity: 0.2; }

.opacity1 {
  opacity: 0.1; }

.opacity0 {
  opacity: 0; }

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: transparent; }
  .preloader .anim {
    color: #fff;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .preloader-left {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 999;
    transition: 0.7s 0.3s transform ease-in-out; }
  .preloader-right {
    display: none;
    position: fixed;
    width: 50%;
    right: 0;
    height: 100%;
    background: white;
    z-index: 999;
    transition: 0.7s 0.3s transform ease-in-out; }

.slide-left {
  transform: translate3d(-100%, 0, 0);
  will-change: transform; }

.slide-right {
  transform: translate3d(100%, 0, 0);
  will-change: transform; }

#lionhero {
  z-index: 0; }
  #lionhero .item {
    height: 100vh; }
  #lionhero .item img {
    background-size: cover; }
  #lionhero .item .slide {
    height: 100vh; }
  #lionhero .owl-nav {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    padding: 1rem;
    left: 42%;
    position: absolute;
    bottom: 1rem;
    z-index: 999999999; }
  #lionhero .owl-prev {
    float: left;
    margin: 1rem; }
  #lionhero .owl-next {
    float: right;
    margin: 1rem; }

#liontextslider {
  width: 40rem; }
  #liontextslider .owl-item {
    visibility: hidden; }
  #liontextslider .owl-item.active {
    visibility: visible; }

.slide.one {
  background: url(../images/slider/slide1.jpg) 48% 48%;
  background-size: cover; }

.slide.two {
  background: url(../images/slider/slide2.jpg) 48% 48%;
  background-size: cover; }

.slide.three {
  background: url(../images/slider/slide3.jpg) 48% 48%;
  background-size: cover; }

#video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg/video-bg.jpg);
  background-size: cover;
  overflow: hidden; }

.player {
  display: none; }

.home {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background-size: cover;
  z-index: 0; }
  .home .img-bg {
    background: url(../images/bg/demo.jpg);
    background-size: cover; }
  .home .bgScroll {
    height: 400%;
    position: absolute;
    width: 100%;
    z-index: -1;
    animation: 40s linear 0s normal none infinite running bgScroll;
    background: black url(../images/bg/scroll.jpg) repeat scroll center top; }

.overlay {
  background-color: black;
  height: 100%;
  position: fixed;
  width: 100%; }
  .overlay .light {
    background-color: white; }

.gradient-overlay1 {
  background: #eb3349;
  background: -webkit-linear-gradient(to right, #f45c43, #eb3349);
  background: linear-gradient(to right, #f45c43, #eb3349);
  height: 100%;
  position: fixed;
  width: 100%; }

.gradient-overlay2 {
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
  height: 100%;
  position: fixed;
  width: 100%; }

.gradient-overlay3 {
  background: #556270;
  background: -webkit-linear-gradient(to right, #ff6b6b, #556270);
  background: linear-gradient(to right, #ff6b6b, #556270);
  height: 100%;
  position: fixed;
  width: 100%; }

.menu-blocks {
  transition: all 0.5s; }
  .menu-blocks .hidex {
    z-index: -999; }
  .menu-blocks .showx {
    z-index: 999; }

.menu-block {
  cursor: pointer; }
  .menu-block:hover {
    top: -2rem;
    left: -4rem; }

.menu-item {
  cursor: pointer; }
  .menu-item:hover {
    top: 1.2rem;
    left: -4rem; }
  .menu-item:hover {
    background: rgba(0, 0, 0, 0.1); }

h2 .menu-item {
  position: relative;
  color: #fff;
  margin: 5rem;
  font-size: 2.8rem;
  font-weight: 600;
  transition: all 1s ease-out; }
  h2 .menu-item-item:after {
    top: 1.2rem;
    left: -4rem; }
  h2 .menu-item-item:before {
    position: absolute;
    top: -4rem;
    left: -2rem;
    font-size: 1.4rem;
    transition: all 0.5s ease; }
  h2 .menu-item-item:before {
    top: -2rem;
    left: -4rem; }
  h2 .menu-item-item:after {
    position: absolute;
    content: "";
    top: -1rem;
    left: -2rem;
    width: 7rem;
    height: 0.1rem;
    background: #fff;
    transition: all 0.5s ease; }

h2 .about.menu-item:before {
  content: "01"; }

h2 .portfolio.menu-item:before {
  content: "02"; }

h2 .blog.menu-item:before {
  content: "03"; }

h2 .contact.menu-item:before {
  content: "04"; }

.dark h2.menu-item {
  color: #333; }
  .dark h2.menu-item:after {
    background: #333; }

.status {
  color: #333;
  line-height: 3.8rem;
  padding-left: 4.5rem; }
  .status:before {
    position: absolute;
    top: 1.7rem;
    left: 2.5rem;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background: #4dd133;
    content: ""; }
  .status:after {
    position: absolute;
    top: 1.3rem;
    left: 2.1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #4dd133;
    content: "";
    opacity: 0.3; }

#close i {
  font-size: 3rem;
  vertical-align: middle; }

.inline-menu {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2rem; }
  .inline-menu li {
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    line-height: 4rem;
    margin-top: -0.5rem;
    padding: 0 1.5rem;
    color: #666; }
  .inline-menu li.active,
  .inline-menu li:hover {
    color: #333; }
  .inline-menu li.active {
    cursor: text; }
  .inline-menu-container {
    background: #f1f3f6;
    position: fixed;
    height: 4rem;
    width: 69%;
    right: 13rem;
    top: -5rem;
    transition: all 0.5s;
    z-index: 1; }
    .inline-menu-container .showx {
      top: 0; }
    .inline-menu-container .style2 {
      background: transparent; }
    .inline-menu-container .style3 {
      background: #fff;
      border-bottom: 0.1rem solid #eee;
      height: 4rem; }

.style2 .inline-menu li {
  color: #fff;
  font-weight: 400;
  line-height: 7rem; }

.style2.dark {
  background-color: #f1f3f6; }

.style2.dark .inline-menu li {
  color: #666;
  font-size: 1.4rem;
  line-height: 4rem; }

.sidebar-menu {
  background: #111;
  height: 100%;
  left: 0;
  position: fixed;
  width: 20%; }
  .sidebar-menu .hidex {
    opacity: 1;
    visibility: visible;
    z-index: 1; }

.menu4 .inline-menu {
  margin-right: 0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%); }
  .menu4 .inline-menu li {
    color: #787878;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    line-height: 6rem;
    padding: 0 0 0 3rem; }
    .menu4 .inline-menu li .active {
      color: #fff; }
    .menu4 .inline-menu li .close-pop {
      background-color: #f1f3f6;
      cursor: pointer;
      line-height: 4rem;
      height: 4rem;
      position: fixed;
      text-align: center;
      width: 69%;
      right: 1.3rem;
      top: -6rem;
      transition: all 0.7s;
      z-index: 1; }

.menu4 .close-pop {
  width: 79%; }

.close-pop:hover {
  opacity: 0.7; }

.content-blocks.pop.showx .close-pop {
  top: 0; }

.content-blocks {
  position: fixed;
  width: 70%;
  height: 100vh;
  opacity: 0.5;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 100%;
  left: 30%;
  background: #fff;
  transition: opacity 0.7s ease-out;
  z-index: 1; }
  .content-blocks .showx {
    opacity: 1;
    top: 0; }
  .content-blocks .pop {
    left: 100%;
    opacity: 0.3;
    top: 0;
    transition: all 0.3s ease-out; }
  .content-blocks .pop.showx {
    left: 30%;
    opacity: 1; }
  .content-blocks .pop .content {
    padding-top: 11rem; }

.home-container {
  left: 20%;
  position: fixed;
  width: 80%; }

.menu4 .content-blocks {
  width: 80%;
  left: 20%; }

.content {
  position: relative;
  padding: 12rem 7rem 3rem;
  height: auto;
  overflow: hidden; }

.menu4 .content-blocks.pop.showx {
  left: 20%; }

.block-content {
  margin: 0 0 7rem;
  overflow: hidden; }

.block-title {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid #ddd;
  margin-bottom: 3rem;
  font-weight: 600; }

.about-block {
  position: absolute;
  width: 43rem;
  height: 30rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  display: table;
  transition: all 0.5s;
  z-index: 99; }
  .about-block:hover {
    border: 1.5rem solid rgba(255, 255, 255, 0.1); }
  .about-block-container {
    display: table-cell;
    vertical-align: middle;
    padding: 15rem 0 0 7rem;
    -ms-transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg); }
  .about-block .subheading {
    font-size: 3rem;
    font-weight: 300;
    line-height: 2em;
    margin-bottom: 3rem;
    text-transform: none; }

.dark .about-block {
  border: 0.1rem solid rgba(51, 51, 51, 0.4); }

.link {
  font-style: italic;
  font-weight: bold;
  padding: 0 0.3rem; }

.sign {
  margin: 3rem 0; }

.info-list {
  border-bottom: 0.1rem solid #ddd;
  border-top: 0.1rem solid #ddd;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin: 2rem 0;
  overflow: auto; }
  .info-list span {
    color: #333;
    font-weight: 400;
    margin-right: 0.5rem; }
  .info-list div {
    padding-left: 0;
    padding-right: 0; }

.progress {
  height: 0.2rem;
  margin-bottom: 3rem;
  background-color: #ddd;
  border-radius: 0;
  box-shadow: none;
  overflow: visible;
  width: 90%; }
  .progress-bar {
    height: 0.2rem;
    line-height: 0.8rem;
    background-color: #666;
    box-shadow: none;
    position: relative; }
    .progress-bar span {
      display: block;
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      text-align: center;
      color: #000;
      background: #f1f3f6;
      font-weight: 500;
      position: absolute;
      top: -1.6rem;
      right: -2rem; }
    .progress-bar-label {
      color: #333;
      font-weight: 500;
      margin-bottom: 1rem; }
      .progress-bar-label span {
        font-weight: 300; }

.icon-list li {
  padding-left: 2.5rem; }
  .icon-list li:before {
    position: absolute;
    content: "\f3fd";
    font-family: "Ionicons";
    font-size: 2.4rem;
    left: 2rem;
    color: #666; }

.timeline {
  position: relative; }
  .timeline:before {
    background: #ddd;
    bottom: 0;
    content: "";
    left: 1.8rem;
    position: absolute;
    top: 5rem;
    width: 0.1rem;
    height: 75%; }
  .timeline:after {
    font-family: "Ionicons";
    top: 0;
    left: -0.5rem;
    width: 5rem;
    height: 5rem;
    position: absolute;
    text-align: center;
    color: #ddd;
    font-size: 3.6rem;
    line-height: 4.5rem; }
  .timeline .experience:after {
    content: "\f356"; }
  .timeline .education:after {
    content: "\f349"; }

.exp {
  padding: 2rem 2rem 0 8rem;
  position: relative; }
  .exp:after {
    background: #fff;
    border: 0.2rem solid #ddd;
    border-radius: 50%;
    content: "";
    height: 2rem;
    left: 0.9rem;
    position: absolute;
    text-align: center;
    top: 2.4rem;
    width: 2rem; }
  .exp-holder {
    margin-top: 7rem; }
  .exp .hgroup {
    margin-bottom: 0.5rem; }
    .exp .hgroup h4,
    .exp .hgroup h5 {
      display: table-cell;
      text-transform: none;
      margin-bottom: 1rem; }
    .exp .hgroup h4 span {
      color: #666; }
    .exp .hgroup h5 {
      font-size: 1.4rem;
      font-weight: 400;
      text-align: right;
      color: #727272;
      padding-left: 6rem;
      position: relative; }
      .exp .hgroup h5:before {
        color: #ddd;
        content: "/";
        left: 0;
        left: 3rem;
        position: absolute; }
      .exp .hgroup h5 span.current {
        font-style: italic; }

.service {
  text-align: center;
  padding-top: 2.5rem; }
  .service-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #666; }
  .service h4 {
    margin: 1rem 0;
    font-size: 1.4rem; }

.awards {
  padding: 3rem; }
  .awards img {
    opacity: 0.7; }

.awards:hover img {
  opacity: 1; }

.pricing-area {
  margin-top: 7rem; }

.price-table {
  background-color: #fff;
  border: 0.1rem solid #ddd;
  margin: 0 auto 5rem;
  max-width: 40rem;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
  text-align: center; }

h4.package {
  font-weight: 600;
  padding: 3rem 0; }

.pricing-button {
  border-top: 0.1rem solid #ddd;
  padding: 2rem 0;
  transition: all 0.5s; }

.price {
  border-bottom: 0.1rem solid #ddd;
  color: #787878;
  padding: 0 0 3rem; }
  .price .amount {
    color: #333;
    display: block;
    font-size: 3.6rem;
    font-weight: 600; }

.details {
  color: #787878;
  line-height: 3;
  list-style-type: none;
  padding: 3rem 0;
  text-align: center;
  text-indent: 0.12rem; }

#liontestimonial.owl-carousel .owl-item img {
  width: auto; }

.testimonials {
  background: #f1f3f6;
  border: 0.1rem solid #f1f3f6;
  position: relative;
  margin: 5rem 0; }
  .testimonials img {
    position: absolute;
    top: -4.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 9rem;
    height: 9rem;
    border: 1rem solid #fff;
    border-radius: 50%; }
  .testimonials blockquote {
    border-left: none;
    color: #333;
    font-size: 2rem;
    margin-top: 4rem;
    padding: 4rem 1.5rem;
    text-align: center; }
  .testimonials .quote {
    display: block;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #727272; }
    .testimonials .quote span {
      font-weight: 700; }

.testimonials:hover img {
  border: 1rem solid #666; }

#liontestimonial .owl-nav {
  color: #666;
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem;
  left: 50%;
  position: absolute;
  bottom: -2.5rem;
  transform: translateX(-50%);
  z-index: 999999999; }

#liontestimonial .owl-prev {
  float: left;
  margin: 1rem; }

#liontestimonial .owl-next {
  float: right;
  margin: 1rem; }

.btn-email {
  position: relative; }

.btn-email:before {
  position: absolute;
  left: 0;
  top: 4.5rem;
  content: "";
  border-top: 0.1rem solid #f1f3f6;
  width: 100%; }

.portfolio-block {
  position: absolute;
  width: 43rem;
  height: 40rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  display: table;
  transition: all 0.5s;
  z-index: 1; }
  .portfolio-block:hover {
    border: 1.5rem solid rgba(255, 255, 255, 0.1); }
  .portfolio-block-container {
    display: table-cell;
    vertical-align: middle;
    -ms-transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg); }

.dark .portfolio-block {
  border: 0.1rem solid rgba(51, 51, 51, 0.4); }

/* Portfolio */
.portfolio-container {
  overflow: hidden;
  position: relative; }

.filters {
  padding-bottom: 3rem; }
  .filters span {
    display: inline-block;
    margin-right: 1.5rem; }
  .filters ul {
    display: inline-block;
    margin: 2rem 0; }
    .filters ul li {
      font-weight: 500;
      display: inline-block;
      margin-left: 1.5rem;
      padding: 0.2rem 1rem;
      cursor: pointer;
      transition: all 0.3s ease; }
      .filters ul li:first-child {
        margin-left: 0; }
    .filters ul li.active,
    .filters ul li:hover {
      color: #333; }

.portfolio-item {
  padding-bottom: 3rem; }
  .portfolio-item .no-gutter {
    padding: 0 0;
    padding-bottom: 0; }
  .portfolio-item img {
    width: 100%;
    transition: all 5s; }

.portfolio-column {
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: all 1s; }
  .portfolio-column:hover {
    -webkit-box-shadow: 0 0.2rem 0.7rem 0.1rem rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0.2rem 0.7rem 0.1rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.2rem 0.7rem 0.1rem rgba(0, 0, 0, 0.3); }
    .portfolio-column:hover img {
      transform: scale(1.1); }
    .portfolio-column:hover .portfolio-content {
      opacity: 1;
      cursor: pointer; }
      .portfolio-column:hover .portfolio-content p {
        margin-top: 0;
        opacity: 1; }
      .portfolio-column:hover .portfolio-content h2 {
        margin-top: 2rem;
        opacity: 1; }
    .portfolio-column:hover .portfolio-overlay {
      opacity: 0.8; }

.portfolio-content {
  position: absolute;
  z-index: 201;
  top: 50%;
  width: 100%;
  opacity: 0;
  transform: translateY(-50%); }
  .portfolio-content h2 {
    color: #fff;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    text-align: center;
    padding: 0 3rem;
    opacity: 0;
    text-transform: uppercase;
    transition: all 0.6s; }
  .portfolio-content p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -3rem;
    text-align: center;
    padding: 1rem 3rem;
    opacity: 0;
    transition: all 0.9s; }
  .portfolio-content hr {
    width: 4rem;
    height: 0.1rem;
    border: 0;
    background-color: #f1f3f6;
    margin: 2rem 0 1rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #181818;
  top: 0;
  z-index: 200;
  opacity: 0; }

.classic .portfolio-content {
  background: #f1f3f6;
  position: relative;
  top: 0;
  transform: translateY(0); }

.classic .portfolio-content,
.classic .portfolio-content h2,
.classic .portfolio-content p {
  opacity: 1;
  text-align: left; }

.classic .portfolio-content h2 {
  color: #333;
  padding: 2rem 3rem 0;
  margin-top: 0; }

.classic .portfolio-column:hover .portfolio-content h2 {
  margin-top: 0; }

.classic .portfolio-content p {
  color: #666;
  margin-top: 0; }

.project-head span {
  color: #333;
  font-weight: 400;
  margin-right: 0.5rem; }

.project-description {
  margin: 3rem 0; }

.project-media img {
  margin-bottom: 3rem; }

.video-container {
  margin-bottom: 2rem;
  padding: 0 0 56.25%;
  position: relative;
  width: 100%; }
  .video-container iframe {
    border: 0 none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.carousel {
  position: relative; }

.carousel-control {
  font-size: 3rem;
  opacity: 1;
  top: 50%;
  transform: translateY(-20%); }

.carousel-control.left,
.carousel-control.right {
  background-image: none; }

.project-nav,
.post-nav {
  margin-top: 5rem; }

.project-nav i,
.post-nav i {
  font-size: 2.4rem; }

.project-nav a,
.post-nav a {
  color: inherit;
  font-weight: 500; }

.project-nav a:hover,
.post-nav a:hover {
  color: #333; }

.blog-block {
  position: absolute;
  width: 43rem;
  height: 30rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  display: table;
  transition: all 0.5s;
  z-index: 1; }

.dark .blog-block {
  border: 0.1rem solid rgba(51, 51, 51, 0.4); }

.blog-block:hover {
  border: 1.5rem solid rgba(255, 255, 255, 0.1); }

.blog-block-container {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5rem;
  -ms-transform: rotate(34deg);
  -webkit-transform: rotate(34deg);
  transform: rotate(34deg); }

.post {
  background-color: #fff;
  margin: 2.5rem 0; }

.post:last-child {
  border-bottom: 0; }

.post-thumbnail {
  text-align: center; }

.post-title {
  text-align: center; }

.post-title h2 {
  font-size: 2.8rem;
  margin-top: 5rem;
  margin-bottom: 2rem; }

.post-info {
  font-size: 1.4rem; }

.post-info:after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #333;
  margin: 2rem auto; }

.post-info span {
  padding: 0 0.2rem; }

.post-info .slash:before {
  content: "/"; }

.post-body {
  padding: 2rem 0;
  text-align: center; }

.post-body p {
  padding-bottom: 2rem; }

.post-body .btn {
  margin-top: 0; }

.pagination {
  display: inline-flex;
  margin-bottom: 0; }

.page-link,
.page-item.disabled .page-link {
  background-color: #f1f3f6;
  border-color: #f1f3f6;
  color: #868e96; }

.page-link {
  color: #727272; }

.page-item.active .page-link {
  background-color: #666;
  border-color: #666; }

.page-link:focus,
.page-link:hover {
  color: #333; }

#blog-header {
  height: 50rem;
  position: relative; }

#blog-header .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 50rem;
  top: 0;
  bottom: 0;
  z-index: 0; }

.single-post-title {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%; }

.single-post-title,
.single-post-title h1 {
  color: #fff; }

.single-post-title h1 {
  margin-bottom: 3rem; }

#single-post .post {
  padding: 0;
  border-bottom: 0;
  margin-bottom: 5rem; }

#single-post .post-body {
  text-align: left; }

#single-post .post-body p {
  padding-bottom: 0; }

#single-post .post-body blockquote {
  background-color: #f1f3f6;
  border-left: 0.5rem solid #ddd;
  color: #333;
  padding: 2rem; }

.author-box {
  background: #f1f3f6;
  overflow: auto;
  padding: 3rem 0 0;
  margin: 3rem 0 0; }

.author-box h3 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 1rem; }

.author-box h3 span {
  color: #727272; }

#blog-social {
  display: block;
  width: 100%;
  clear: both;
  text-align: center;
  padding: 3rem 0;
  margin: 0 0 7rem;
  border-bottom: 0.1rem solid #f1f3f6; }

#blog-social > li {
  display: inline-block; }

#blog-social > li > a {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border: 0.1rem solid #ddd;
  font-size: 1.6rem;
  color: #ddd;
  padding: 0;
  line-height: 3.6rem;
  text-align: center;
  transition: all 0.3s ease; }

#blog-social > li > a:hover {
  color: #666;
  border: 0.1rem solid #666; }

#comments {
  margin-bottom: 5rem; }

#comments h5 {
  font-size: 1.3rem; }

.comments-list {
  padding-left: 0;
  list-style: none;
  margin: 3rem 0 0; }

.comments-list > li {
  margin-bottom: 1.4rem; }

.comments-list > li:before,
.comments-list > li:after {
  content: " ";
  display: table; }

.comments-list > li:after {
  clear: both; }

.comments-list .children {
  list-style: none;
  padding-left: 6rem; }

.comments-list .children > li {
  margin: 0; }

.comments-list .children > li .comment:before {
  position: absolute;
  content: "\f3d6";
  font-family: "Ionicons";
  font-size: 2.6rem;
  margin-top: 5%;
  margin-left: -3rem; }

.comments-list .comment {
  padding: 1.4rem 0; }

.comment:before,
.comment:after {
  content: " ";
  display: table; }

.comment:after {
  clear: both; }

.comment .col-sm-2 {
  padding-right: 0; }

.comment img {
  max-width: 10rem;
  margin-top: 1rem;
  width: 100%; }

.comment-date {
  color: #727272; }

.comment-reply {
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
  position: absolute;
  right: 1.5rem;
  top: 0;
  padding: 0.5rem; }

#respond h5 {
  font-size: 1.4rem; }

.comment-respond {
  padding: 5rem 0 0;
  margin-bottom: 5rem; }

.comment-respond .form-control {
  border: none;
  border-bottom: 0.1rem solid #333;
  font-size: 1.4rem; }

.comment-respond textarea {
  min-height: 12rem;
  max-width: 100%;
  resize: none; }

.form-double:before,
.form-double:after {
  content: " ";
  display: table; }

.form-double:after {
  clear: both; }

.form-double .form-group {
  width: 50%;
  float: left;
  padding-right: 0.5rem; }

.form-double .form-group.last {
  padding-right: 0;
  padding-left: 0.5rem; }

.comment-respond .form-group .input-group-addon {
  background: transparent;
  border-radius: 0; }

.form-submit {
  text-align: right; }

.contact-block {
  position: absolute;
  width: 43rem;
  height: 40rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  display: table;
  transition: all 0.5s;
  z-index: 1; }
  .contact-block:hover {
    border: 1.5rem solid rgba(255, 255, 255, 0.1); }
  .contact-block-container {
    display: table-cell;
    vertical-align: middle;
    -ms-transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg); }

.dark .contact-block {
  border: 0.1rem solid rgba(51, 51, 51, 0.4); }

.contact-from {
  margin-top: 3rem; }

.contact-content {
  display: table;
  width: 100%;
  margin-top: 3rem; }

.contact-icon {
  width: 6rem;
  vertical-align: top;
  font-size: 3rem;
  text-align: center;
  color: #666; }

.contact-details,
.contact-icon {
  display: table-cell; }

.contact-details h5,
.contact-details p {
  margin-bottom: 0; }

.error-form {
  float: right;
  margin: -2.4rem 0.2rem 0 0;
  position: relative;
  top: 0; }

.error-form i:before {
  color: #c33;
  font-size: 100%;
  vertical-align: top;
  margin-right: 1rem; }

.alert-success {
  text-align: left; }

#contact_form .form-control {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 0.1rem solid #727272;
  border-radius: 0;
  width: 100%;
  font-size: 1.4rem;
  transition: all 0.3s; }

#contact_form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 0.1rem solid #666; }

#contact_form textarea {
  resize: none; }

#map {
  height: 40rem;
  margin-top: 5rem;
  width: 100%; }

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    transform: scale3d(1, 1, 1); } }

.pulse {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes bgScroll {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-193rem); } }

@font-face {
  font-family: "HaginCaps";
  src: url(../fonts/HaginCapsMedium-Medium.eot) format("eot"), url(../fonts/HaginCapsMedium-Medium.woff) format("woff"); }

@font-face {
  font-family: "Hagin";
  src: url(../fonts/HaginCapsThin-Thin.eot) format("eot"), url(../fonts/HaginCapsThin-Thin.woff) format("woff"); }

.btn {
  border: 2px solid transparent;
  border-radius: 0;
  padding: 1.2rem 2.8rem;
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s;
  position: relative;
  color: #fff;
  background-color: #333;
  z-index: 20;
  letter-spacing: 0.2rem;
  overflow: hidden; }
  .btn:hover {
    color: #666;
    background-color: #fff;
    border: 0.2rem solid #666;
    letter-spacing: 0.3rem; }
  .btn:focus {
    box-shadow: none;
    color: #fff;
    outline: none; }
  .btn-download {
    border: none;
    font-size: 1.4rem;
    padding: 1.6rem 5.5rem 1.6rem 2.5rem; }
  .btn-download:hover {
    border: none;
    color: #fff;
    background-color: #333;
    letter-spacing: 0.2rem; }
  .btn-download:before {
    position: absolute;
    content: "\f407";
    font-family: "Ionicons";
    top: 1.2rem;
    right: 1.6rem;
    font-size: 2.4rem; }
  .btn-download:hover:before {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: fadeOutDown;
    transform-origin: center bottom; }
  .btn-download:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: all 0.3s; }
  .btn-download:hover:after {
    width: 5rem;
    height: 7rem;
    right: -5rem;
    top: -5rem;
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  .btn.disabled {
    opacity: 1; }

@media (min-width: 1920px) {
  .name-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 122px;
    top: 90px; }
  .about-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 702px;
    top: -60px; }
  .portfolio-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 897px;
    top: 179px; }
  .blog-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 1092px;
    top: 518px; }
  .contact-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 1386px;
    top: 138px; }
  .name-block.reverse {
    width: 400px;
    left: 300px; }
  .content-blocks,
  .content-blocks.pop.showx,
  .inline-menu-container,
  .close-pop {
    width: 1024px;
    left: auto;
    right: 0; } }

@media (min-width: 1280px) and (max-width: 1919px) {
  .name-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: -190px;
    top: 10px; }
  .about-block {
    -ms-transform: rotate(-34deg);
    /* -webkit-transform: rotate(-34deg); */
    /* transform: rotate(-34deg); */
    left: 382px;
    top: -151px; }
  .portfolio-block {
    -ms-transform: rotate(-34deg);
    /* -webkit-transform: rotate(-34deg); */
    /* transform: rotate(-34deg); */
    left: 577px;
    top: 89px; }
  .blog-block {
    -ms-transform: rotate(-34deg);
    /* -webkit-transform: rotate(-34deg); */
    /* transform: rotate(-34deg); */
    left: 772px;
    top: 428px; }
  .contact-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 1067px;
    top: 48px; } }

@media (max-width: 1280px) {
  .inline-menu-container,
  .close-pop {
    right: 0;
    width: 70%; } }

@media (min-width: 1025px) and (max-width: 1280px) {
  .name-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: -200px;
    top: -80px; }
  .about-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 419px;
    top: -160px;
    width: 350px;
    height: 300px; }
  .portfolio-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 586px;
    top: 88px;
    width: 350px;
    height: 300px; }
  .blog-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 753px;
    top: 335px;
    width: 350px;
    height: 300px; }
  .contact-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 900px;
    top: -70px;
    width: 350px;
    height: 300px; } }

@media (min-width: 981px) and (max-width: 1024px) {
  .name-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: -190px;
    top: 10px; }
  .about-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 382px;
    top: -150px; }
  .portfolio-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 577px;
    top: 89px; }
  .blog-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 772px;
    top: 428px; }
  .contact-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 365px;
    top: 538px; } }

@media (max-width: 1024px) {
  .name-block-container h1 {
    font-size: 40px;
    line-height: 1.1; }
  .name-block-container h1 span,
  .name-block-container h2 {
    font-size: 22px;
    min-height: 22px; }
  .menu2 .name-block {
    padding: 0 0 0 20px; }
  .menu2 .name-block-container h1 {
    font-size: 50px; }
  .menu2 .name-block-container h1 span,
  .menu2 .name-block-container h2 {
    font-size: 26px;
    min-height: 26px; }
  .inline-menu-container {
    font-size: 14px;
    right: 10px;
    width: 69%; }
  .inline-menu li {
    padding: 0 10px; }
  .content {
    padding: 120px 50px 50px; } }

@media (min-width: 768px) and (max-width: 980px) {
  .name-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: -190px;
    top: 10px; }
  .about-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 382px;
    top: -150px; }
  .portfolio-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 577px;
    top: 89px; }
  .blog-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 336px;
    top: 548px; }
  .contact-block {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 9px;
    top: 780px; }
  .project {
    width: 50%; } }

@media (max-width: 980px) {
  .inline-menu {
    margin-top: 5px; }
  .timeline:before,
  .timeline:after,
  .exp:after {
    display: none; }
  .exp-holder {
    margin-top: 0; }
  .exp {
    padding-left: 0; }
  .awards img {
    opacity: 1; } }

@media (max-width: 800px) and (orientation: landscape) {
  .home {
    background: url(../images/bg.jpg) #333 30% 30%;
    overflow-y: scroll; }
  .name-block,
  .about-block,
  .portfolio-block,
  .blog-block,
  .contact-block {
    position: relative;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: table;
    left: 0;
    top: 0; }
  .contact-block {
    border-bottom: none; }
  .name-block-container,
  .about-block-container,
  .portfolio-block-container,
  .blog-block-container,
  .contact-block-container {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    padding: 0 0 0 0; }
  h2.menu-item {
    line-height: 3em;
    margin-bottom: 0;
    display: block; }
  h2.menu-item:after {
    position: absolute;
    content: "";
    top: 15px;
    left: -20px;
    width: 70px;
    height: 1px;
    background: #fff;
    transition: all 0.5s ease; }
  .social {
    position: relative;
    margin: 50px 0; }
  .inline-menu-container {
    width: 100%;
    left: 0; }
  .content-blocks {
    height: 100vh; } }

@media (max-width: 800px) {
  #lionhero {
    height: 100vh;
    position: fixed; }
  #lionhero .owl-nav {
    display: none; }
  .menu2 .social {
    bottom: 0; }
  .sidebar-menu,
  .home-container {
    left: 0;
    top: 0;
    width: 100%; }
  .sidebar-menu {
    height: 50px;
    z-index: 1; }
  .sidebar-menu.hidex {
    top: -60px; }
  .menu4 .inline-menu {
    position: relative;
    text-align: center;
    margin-top: 0;
    width: 100%; }
  .menu4 .inline-menu li {
    color: #f5f5f5;
    font-size: 16px;
    display: inline-block;
    line-height: 50px;
    padding: 0 10px; }
  .name-block {
    padding-top: 30px; }
  .name-block,
  .about-block,
  .portfolio-block,
  .blog-block,
  .contact-block {
    position: relative;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: table;
    left: 0;
    top: 0; }
  .contact-block {
    border-bottom: none; }
  .about-block:hover,
  .portfolio-block:hover,
  .blog-block:hover,
  .contact-block:hover {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .name-block-container,
  .about-block-container,
  .portfolio-block-container,
  .blog-block-container,
  .contact-block-container {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    padding: 0 0 0 0; }
  h2.menu-item {
    line-height: 3em;
    margin-bottom: 0;
    display: block; }
  h2.menu-item:after {
    position: absolute;
    content: "";
    top: 15px;
    left: -20px;
    width: 70px;
    height: 1px;
    background: #fff;
    transition: all 0.5s ease; }
  .menu-block:hover h2.menu-item:before {
    top: -40px;
    left: -20px; }
  .menu-block:hover h2.menu-item:after {
    top: 15px;
    left: -20px; }
  .menu-block:hover {
    background: rgba(0, 0, 0, 0); }
  .social {
    position: relative;
    margin: 50px 0; }
  .menu4 .social {
    bottom: 0; }
  .menu4 .content-blocks,
  .content-blocks {
    width: 100%;
    left: 0; }
  .menu4 .content-blocks.pop {
    left: 100%; }
  .menu4 .content-blocks.pop.showx,
  .content-blocks.pop.showx {
    left: 0; }
  .menu4 .close-pop,
  .close-pop {
    right: 0;
    width: 100%; }
  .inline-menu-container {
    width: 100%;
    left: 0; } }

@media (max-width: 767px) {
  .home {
    overflow-y: scroll; }
  .home .bgScroll {
    animation: none;
    height: 100%; }
  .menu2 .name-block-container h1 {
    font-size: 40px; }
  .menu2 .name-block-container h1 span,
  .menu2 .name-block-container h2 {
    font-size: 22px;
    min-height: 22px; }
  .status {
    display: none; }
  .content {
    padding: 100px 20px 50px; }
  .content-blocks.pop.showx {
    top: 0; }
  .content-blocks.pop.showx {
    height: 100vh; }
  .menu4 .name-block.reverse {
    padding-left: 0; }
  .exp .hgroup h4,
  .exp .hgroup h5 {
    display: table; }
  .exp .hgroup h5 {
    padding-left: 0; }
  .exp .hgroup h5:before {
    display: none; }
  .filters span {
    display: none; }
  .filters ul li {
    font-size: 14px;
    padding: 2px 5px 2px 0; }
  .name-block-container h1 span {
    font-size: 22px; }
  .name-block-container h1 {
    font-size: 36px; }
  .name-block-container h2 {
    font-size: 22px;
    min-height: 22px; }
  h2.menu-item {
    font-size: 20px;
    line-height: 2em;
    margin: 25px 0 25px 40px; }
  h2.menu-item:before {
    position: absolute;
    top: -20px;
    left: -20px;
    font-size: 14px; }
  .menu-block:hover h2.menu-item:before {
    top: -20px;
    left: -20px; }
  h2.menu-item:after {
    display: none; }
  .social {
    display: none; }
  .project {
    width: 100%; } }

@media (max-width: 640px) {
  .author-box .col-sm-2,
  .author-box .col-sm-10 {
    width: 100%;
    text-align: center; }
  .author-box img {
    display: block;
    margin: 0 auto 30px;
    width: 150px; }
  .comments-list .children {
    padding-left: 0; } }

@media (max-width: 576px) {
  .menu4 .inline-menu li {
    font-size: 14px;
    padding: 0 7px; }
  .single-post-title h1 {
    font-size: 40px; }
  .comment .col-sm-2 {
    width: 16.6667%; }
  .comment .col-sm-10 {
    width: 83.3333%; } }

@media (max-width: 375px) {
  .home {
    position: relative; }
  .menu4 .home {
    height: 100vh; } }

@media (max-width: 360px) {
  #blog-social li:first-child {
    display: block; }
  .comment .col-sm-2 {
    padding: 0; } }

@media (max-width: 320px) {
  .inline-menu {
    margin-right: 0; }
  .inline-menu li {
    padding: 0 8px; }
  .menu4 .inline-menu li {
    padding: 0 5px; }
  .filters ul li {
    margin-left: 5px; }
  .project-nav span {
    display: block;
    width: 100%; } }
