#lionhero {
  z-index: 0;

  .item {
    height: 100vh;
  }

  .item img {
    background-size: cover;
  }

  .item .slide {
    height: 100vh;
  }

  .owl-nav {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    padding: 1rem;
    left: 42%;
    position: absolute;
    bottom: 1rem;
    z-index: 999999999;
  }

  .owl-prev {
    float: left;
    margin: 1rem;
  }

  .owl-next {
    float: right;
    margin: 1rem;
  }
}

#liontextslider {
  width: 40rem;

  .owl-item {
    visibility: hidden;
  }

  .owl-item.active {
    visibility: visible;
  }
}

.slide.one {
  background: url(../images/slider/slide1.jpg) 48% 48%; //edit change slider image
  background-size: cover;
}

.slide.two {
  background: url(../images/slider/slide2.jpg) 48% 48%; //edit change slider image
  background-size: cover;
}

.slide.three {
  background: url(../images/slider/slide3.jpg) 48% 48%; //edit change slider image
  background-size: cover;
}

#video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg/video-bg.jpg);
  background-size: cover;
  overflow: hidden;
}

.player {
  display: none;
}
