.blog-block {
  position: absolute;
  width: 43rem;
  height: 30rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  display: table;
  transition: all 0.5s;
  z-index: 1;
}

.dark .blog-block {
  border: 0.1rem solid rgba(51, 51, 51, 0.4);
}

.blog-block:hover {
  border: 1.5rem solid rgba(255, 255, 255, 0.1);
}

.blog-block-container {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5rem;
  -ms-transform: rotate(34deg);
  -webkit-transform: rotate(34deg);
  transform: rotate(34deg);
}

.post {
  background-color: #fff;
  margin: 2.5rem 0;
}

.post:last-child {
  border-bottom: 0;
}

.post-thumbnail {
  text-align: center;
}

.post-title {
  text-align: center;
}

.post-title h2 {
  font-size: 2.8rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.post-info {
  font-size: 1.4rem;
}

.post-info:after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #333;
  margin: 2rem auto;
}

.post-info span {
  padding: 0 0.2rem;
}

.post-info .slash:before {
  content: "/";
}

.post-body {
  padding: 2rem 0;
  text-align: center;
}

.post-body p {
  padding-bottom: 2rem;
}

.post-body .btn {
  margin-top: 0;
}

.pagination {
  display: inline-flex;
  margin-bottom: 0;
}

.page-link,
.page-item.disabled .page-link {
  background-color: #f1f3f6;
  border-color: #f1f3f6;
  color: #868e96;
}

.page-link {
  color: #727272;
}

.page-item.active .page-link {
  background-color: #666;
  border-color: #666;
}

.page-link:focus,
.page-link:hover {
  color: #333;
}

#blog-header {
  height: 50rem;
  position: relative;
}

#blog-header .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 50rem;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.single-post-title {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.single-post-title,
.single-post-title h1 {
  color: #fff;
}

.single-post-title h1 {
  margin-bottom: 3rem;
}

#single-post .post {
  padding: 0;
  border-bottom: 0;
  margin-bottom: 5rem;
}

#single-post .post-body {
  text-align: left;
}

#single-post .post-body p {
  padding-bottom: 0;
}

#single-post .post-body blockquote {
  background-color: #f1f3f6;
  border-left: 0.5rem solid #ddd;
  color: #333;
  padding: 2rem;
}

.author-box {
  background: #f1f3f6;
  overflow: auto;
  padding: 3rem 0 0;
  margin: 3rem 0 0;
}

.author-box h3 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.author-box h3 span {
  color: #727272;
}

#blog-social {
  display: block;
  width: 100%;
  clear: both;
  text-align: center;
  padding: 3rem 0;
  margin: 0 0 7rem;
  border-bottom: 0.1rem solid #f1f3f6;
}

#blog-social > li {
  display: inline-block;
}

#blog-social > li > a {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border: 0.1rem solid #ddd;
  font-size: 1.6rem;
  color: #ddd;
  padding: 0;
  line-height: 3.6rem;
  text-align: center;
  transition: all 0.3s ease;
}

#blog-social > li > a:hover {
  color: #666;
  border: 0.1rem solid #666;
}

#comments {
  margin-bottom: 5rem;
}

#comments h5 {
  font-size: 1.3rem;
}

.comments-list {
  padding-left: 0;
  list-style: none;
  margin: 3rem 0 0;
}

.comments-list > li {
  margin-bottom: 1.4rem;
}

.comments-list > li:before,
.comments-list > li:after {
  content: " ";
  display: table;
}

.comments-list > li:after {
  clear: both;
}

.comments-list .children {
  list-style: none;
  padding-left: 6rem;
}

.comments-list .children > li {
  margin: 0;
}

.comments-list .children > li .comment:before {
  position: absolute;
  content: "\f3d6";
  font-family: "Ionicons";
  font-size: 2.6rem;
  margin-top: 5%;
  margin-left: -3rem;
}

.comments-list .comment {
  padding: 1.4rem 0;
}

.comment:before,
.comment:after {
  content: " ";
  display: table;
}

.comment:after {
  clear: both;
}

.comment .col-sm-2 {
  padding-right: 0;
}

.comment img {
  max-width: 10rem;
  margin-top: 1rem;
  width: 100%;
}

.comment-date {
  color: #727272;
}

.comment-reply {
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
  position: absolute;
  right: 1.5rem;
  top: 0;
  padding: 0.5rem;
}

#respond h5 {
  font-size: 1.4rem;
}

.comment-respond {
  padding: 5rem 0 0;
  margin-bottom: 5rem;
}

.comment-respond .form-control {
  border: none;
  border-bottom: 0.1rem solid #333;
  font-size: 1.4rem;
}

.comment-respond textarea {
  min-height: 12rem;
  max-width: 100%;
  resize: none;
}

.form-double:before,
.form-double:after {
  content: " ";
  display: table;
}

.form-double:after {
  clear: both;
}

.form-double .form-group {
  width: 50%;
  float: left;
  padding-right: 0.5rem;
}

.form-double .form-group.last {
  padding-right: 0;
  padding-left: 0.5rem;
}

.comment-respond .form-group .input-group-addon {
  background: transparent;
  border-radius: 0;
}

.form-submit {
  text-align: right;
}
