.contact-block {
  position: absolute;
  width: 43rem;
  height: 40rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  display: table;
  transition: all 0.5s;
  z-index: 1;

  &:hover {
    border: 1.5rem solid rgba(255, 255, 255, 0.1);
  }

  &-container {
    display: table-cell;
    vertical-align: middle;
    -ms-transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg);
  }
}

.dark .contact-block {
  border: 0.1rem solid rgba(51, 51, 51, 0.4);
}

.contact-from {
  margin-top: 3rem;
}

.contact-content {
  display: table;
  width: 100%;
  margin-top: 3rem;
}

.contact-icon {
  width: 6rem;
  vertical-align: top;
  font-size: 3rem;
  text-align: center;
  color: #666;
}

.contact-details,
.contact-icon {
  display: table-cell;
}

.contact-details h5,
.contact-details p {
  margin-bottom: 0;
}

.error-form {
  float: right;
  margin: -2.4rem 0.2rem 0 0;
  position: relative;
  top: 0;
}

.error-form i:before {
  color: #c33;
  font-size: 100%;
  vertical-align: top;
  margin-right: 1rem;
}

.alert-success {
  text-align: left;
}

#contact_form .form-control {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 0.1rem solid #727272;
  border-radius: 0;
  width: 100%;
  font-size: 1.4rem;
  transition: all 0.3s;
}

#contact_form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 0.1rem solid #666;
}

#contact_form textarea {
  resize: none;
}

#map {
  height: 40rem;
  margin-top: 5rem;
  width: 100%;
}
