.portfolio-block {
  position: absolute;
  width: 43rem;
  height: 40rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  display: table;
  transition: all 0.5s;
  z-index: 1;

  &:hover {
    border: 1.5rem solid rgba(255, 255, 255, 0.1);
  }

  &-container {
    display: table-cell;
    vertical-align: middle;
    -ms-transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg);
  }
}

.dark .portfolio-block {
  border: 0.1rem solid rgba(51, 51, 51, 0.4);
}

/* Portfolio */

.portfolio-container {
  overflow: hidden;
  position: relative;
}

.filters {
  padding-bottom: 3rem;

  span {
    display: inline-block;
    margin-right: 1.5rem;
  }

  ul {
    display: inline-block;
    margin: 2rem 0;

    li {
      font-weight: 500;
      display: inline-block;
      margin-left: 1.5rem;
      padding: 0.2rem 1rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &:first-child {
        margin-left: 0;
      }
    }

    li.active,
    li:hover {
      color: #333;
    }
  }
}

.portfolio-item {
  padding-bottom: 3rem;

  .no-gutter {
    padding: 0 0;
    padding-bottom: 0;
  }

  img {
    width: 100%;
    transition: all 5s;
  }
}

.portfolio-column {
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: all 1s;

  &:hover {
    -webkit-box-shadow: 0 0.2rem 0.7rem 0.1rem rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0.2rem 0.7rem 0.1rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.2rem 0.7rem 0.1rem rgba(0, 0, 0, 0.3);

    img {
      transform: scale(1.1);
    }

    .portfolio-content {
      opacity: 1;
      cursor: pointer;

      p {
        margin-top: 0;
        opacity: 1;
      }

      h2 {
        margin-top: 2rem;
        opacity: 1;
      }
    }

    .portfolio-overlay {
      opacity: 0.8;
    }
  }
}

.portfolio-content {
  position: absolute;
  z-index: 201;
  top: 50%;
  width: 100%;
  opacity: 0;
  transform: translateY(-50%);

  h2 {
    color: #fff;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    text-align: center;
    padding: 0 3rem;
    opacity: 0;
    text-transform: uppercase;
    transition: all 0.6s;
  }

  p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -3rem;
    text-align: center;
    padding: 1rem 3rem;
    opacity: 0;
    transition: all 0.9s;
  }

  hr {
    width: 4rem;
    height: 0.1rem;
    border: 0;
    background-color: #f1f3f6;
    margin: 2rem 0 1rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #181818;
  top: 0;
  z-index: 200;
  opacity: 0;
}

.classic .portfolio-content {
  background: #f1f3f6;
  position: relative;
  top: 0;
  transform: translateY(0);
}

.classic .portfolio-content,
.classic .portfolio-content h2,
.classic .portfolio-content p {
  opacity: 1;
  text-align: left;
}

.classic .portfolio-content h2 {
  color: #333;
  padding: 2rem 3rem 0;
  margin-top: 0;
}

.classic .portfolio-column:hover .portfolio-content h2 {
  margin-top: 0;
}

.classic .portfolio-content p {
  color: #666;
  margin-top: 0;
}

.project-head span {
  color: #333;
  font-weight: 400;
  margin-right: 0.5rem;
}

.project-description {
  margin: 3rem 0;
}

.project-media img {
  margin-bottom: 3rem;
}

.video-container {
  margin-bottom: 2rem;
  padding: 0 0 56.25%;
  position: relative;
  width: 100%;

  iframe {
    border: 0 none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.carousel {
  position: relative;
}

.carousel-control {
  font-size: 3rem;
  opacity: 1;
  top: 50%;
  transform: translateY(-20%);
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.project-nav,
.post-nav {
  margin-top: 5rem;
}

.project-nav i,
.post-nav i {
  font-size: 2.4rem;
}

.project-nav a,
.post-nav a {
  color: inherit;
  font-weight: 500;
}

.project-nav a:hover,
.post-nav a:hover {
  color: #333;
}
